.common-area{
  height:100vh;
  width:100vw;
}

.moving-pics{
  width:100vw;
  background-repeat: no-repeat;
  height:100vh;
}

.users-choice{
  position: absolute;
  top:45%;
  left:40%;
  color:white;
  border: 2px solid white;
  width: 25%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.class-wrapper,.requirement-wrapper{
  background-color: black;
  height:30%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro-style{
  border:3px solid black; 
  position:absolute;
  top: 12%;
  width: 90vw;
  margin-left: 3%;
  height:9rem; 
  background-color: rgba(0, 0, 0, 0.618);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.welcome-user{
  position: absolute;
  top:18%;
  left:43%;
  color:white;
  font-size: x-large;
}
.instruction{
  margin-top: 3%;
  width: 80vw;
  height:2rem;
  color:white;
  margin-left: 3%;
  font-size: x-large;
}