.house-form-area{
  border: 3px solid red;
  height:100vh;
  width: auto;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
 .sorting-hat{
  border:solid 2px darkgreen; 
  position: relative;
  width:36%;
  height:85vh;
  right:-60%;
  top:5%;   
}  

.question-area{
  border:3px solid black; 
  position: absolute;
  width:54%;
  height:85%;
  top:13%;
  left:2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
