.nav-area {
    position: absolute;
    width: 95vw;
    z-index: 999;
    height:6%;
    color: goldenrod;
    top: 2%;
    left: 2%;
    display: flex;
    justify-content: space-between;
    background-color:black;
}

.link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border:1px red;
    font-size: 20px;
    font-style: italic;
    width: 30%;
}

.nav-link:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}
