.display-area{
  border:4px solid black; 
 margin-top: 5%;
}

.spell-card-wrapper{
  border:1px solid black;
  height:25%;
  width: 30%; 
  margin: 1.2% 1%;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2)
}