.display-area {
 border:1px solid black;
  display: flex;
  height: 100%;
  width: 100vw;
  flex-wrap: wrap;
  overflow-y: auto;
  margin-top: 4%;
  justify-content: space-around;
}
.spell-card-wrapper{
  border:1px solid black; 
  height: 30%;
  width: 25%;
  margin:1rem 1rem;
  border-radius: 17px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .2)
}